body {
    background-color: rgb(87, 145, 253);
    color: white;
    font-family:'IBM Plex Sans', 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: auto;
    text-align: center;
}

/* --- title and nav style --- */
.titlebar {
    position: relative;
}

.subhead {
    position: sticky;
    top: 1%;
    max-width: 92vw;
    margin: auto;
    padding: 0.5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(87, 145, 253);
    border-top: 5px white solid;
    border-bottom: 5px white solid;
    border-radius: 3px;
}

h1 {
    font-family: 'Cooper Black', sans-serif;
    font-size: 4.5vw;
    letter-spacing: .13em;
    text-shadow:  0.4vw 0.4vw coral;
    margin: 1vw 0 1vw 0;
}

h2,h3,h4 {
    font-family: 'Gill Sans', 'IBM Plex Sans', 'Arial', sans-serif;
    text-align: left;
}

h2 {
    font-size: 2vw;
    font-weight: bold;
    text-decoration: underline 0.2px;
    text-underline-offset: 5px;  
    padding-bottom: 1vw;
}

h3 {
    font-size: 1.3em;
    padding: 0;
    margin: 0;
}

.subtitle {
    font-size: 1.8vw;
    text-shadow: -1px 2px 2px rgb(0, 27, 77);
    text-decoration: none;
    order: 2;
    margin: 0;
    padding: 0 1vw 0 0;
}

.mobiletitle {
    display: none;
}

.mobilesubtitle {
    display: none;
}

nav {
    order: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-left: 3vw;
}

nav a {
    padding: 2% 3% 2% 3%;
    text-align: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6vw;
    font-weight: 500;
    font-variant: small-caps;
    text-shadow: -1px 2px 2px rgb(0, 27, 77);
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    text-underline-offset: 5px;  
}

a:active {
    color: rgb(87, 145, 253);
    background-color: white;
    border-radius: 5px;
    text-decoration: none;
}
 
/*---- end of titlebar styles ----*/

/* --- global styles--- */ 

main {
    margin: 0 auto;
    text-align: justify;
    max-width: 85vw;
    font-size: 1.5em;
    padding: 1vh 0vh 2vh 0vh;
}

p {
    font-weight: 400;
}

#footerlink {
    font-size: x-large;
    font-variant: small-caps;
}

footer {
    background-color:rgb(87, 145, 253);
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: baseline;
    height: max-content;
    border-top: 2px white solid;
}

#disclaimer {
    margin: 2vh;
}

hr {
    width: 34%;
    padding: 0;
    border: 1px white solid;
    margin: 0 auto 2vh auto;
    text-align: center;
}

/* --- end of global styles--- */ 

/* --- computational thinking page styles --- */
/* --- splash and first grid --- */


#splash {
    max-width: 70vw;
    margin: auto;
    margin-top: 4vh;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: rgb(87, 145, 253);
    border-radius: 3vw;
}

blockquote {
    margin: auto;
    padding: 3%;
    width: 80%;
    font-family: 'EB Garamond', 'Georgia', serif;
    font-size: 2em;
    text-align: center;
}

#cttitle {
    text-align: center;
    padding: 5vh 0 0 0;
}

p.ctpara {
    font-size: 1.2em;
    margin: auto;
    width: 90%;
    text-align: justify;
    padding: 5vh 0 5vh 0;
}

#gridcontainer {
    padding-bottom: 5vh;
}

#ctgrid1 {
    display: grid;
    width: 65vw;
    margin: auto;
    padding: 5vh 0 5vh 0;
    column-gap: 5vw;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr;
}

#ctblurb {
    text-align: left;
    grid-column-start: 1;
}

#ctlist {
    text-align: left;
    grid-column-start: 2;
}

/* --- main content grid --- */

#ctgrid2 {
    display: grid;
    max-width: 80vw;
    grid-template-columns: 2fr 1fr 2fr;
    grid-gap: 5vw;
    row-gap: 10vh;
    padding: 10px;
    text-align: justify;
}

#ct1 {
    grid-column-start: 2;
    grid-column-end: 4;
}

#ct2 {
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#ct3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#ctextra1,#ctextra2 {
    width: 80%;
    margin: auto;
    background-color: white;
    color: rgb(87, 145, 253);
    border-radius: 10px;
    padding: 1vh 2vw 1vh 2vw;
}

#ctextra1 {
    grid-column-start: 1;
    grid-row-start: 1;
}

#ctextra2 {
    grid-row: 2;
}

.extra {
    text-align: justify;
    text-justify: auto;
    font-size: 1em;
}

/* end of comp thinking styles */

/* grid styles for biography content */

.biotext {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    grid-gap: 3vw;
    row-gap: 10vh;
    padding: 10px;
    font-size: 1em;
}

#bio1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 4;
}

#bio2 {
    grid-column-start: 2;
    grid-column-end: 5;
}

#bio3 {
    grid-column-start: 1;
    grid-column-end: 4;
}

#bio4 {
    margin: auto;
    padding-top: 5vh;
    width: 60vw;
}

#bioimg1 {
    grid-column-start: 4;
}

#bioimg3 {
    grid-column-start: 4;
    align-self: center;
}

img {
    max-width: 100%;
    border-radius: 10px;
}

.imgwrap {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: rgb(87, 145, 253);
    margin: auto;
    border: 6px white solid;
    border-radius: 12px;
}

.caption {
    text-align: center;
}

.attribution {
    font-size: 0.75em;
    text-align: center;
}

#flickrlink {
    color: rgb(87, 145, 253);
    text-decoration: underline;
}

/* end of biography page styles */

/* personal reflections grid */

#pg3grid {
    display: grid;
    margin: 5vh auto;
    grid-gap: 3vw;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

#cmtimg1 {
    grid-column: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: auto;
}

#cmtimg2 {
    grid-row-start: 1;
    grid-column-start: 3;
    grid-column-end: 5;
    padding-top: 3vh;
    display: block;
}

#cmtimg3 {
    display: none;
}

#cmtimg4 {
    grid-column: 6;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: auto;
}


#cmtpara1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
}

#cmtpara2 {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

#cmtpara3 {
    grid-row-start: 3;
    grid-column-start: 2;
    grid-column-end: 4;
}

#cmtpara4{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 2;
}

#cmtpara5 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
}

#cmtpara6 {
    grid-column-start: 4;
    grid-column-end: 6;
    grid-row-start: 3;
}


tt {
    font-family: 'Courier New', Courier, monospace;
    font-style: italic;
}

/* end personal reflections page */


/* ---- references page ---- */

.reftext {
    display: flex;
    justify-content: space-around;
}

.refcolumn {
    text-align: left;
    width: 25vw;
    overflow-wrap: break-word;
}

li {
    list-style-type: square;
    padding: .3em;
}

/* end of references page */

/* responsive design for mobile/narrow screens
focus on readability, and visual interest, text as scrolling vertical blocks */


@media (orientation: portrait) {   
    
    /*--- titlebar ---*/

    .subhead {
        padding: 1%;
        top: 0;
        flex-direction: column;
        border-top: 1px white solid;
        border-bottom: 1px white solid;
        border-radius: 0;
    }
    
    h1 {
        font-size: 12vw;
        padding: 1vw;
        line-height: 90%;
        letter-spacing: .05em;
        text-shadow:  1vw 1vw coral;
    }

    h2 {
        font-size: 1.3em;
    }

    .title {
        display: none;
    }

    .subtitle {
        display: none;
    }

    .mobiletitle {
        display: block;
    
    }

    .mobilesubtitle {
        display: block;
        font-family: 'Gill Sans';
        max-width: 95vw;
        text-shadow: -1px 2px 2px rgb(0, 27, 77);
        margin: auto;
        position: relative;
        text-align: center;
        padding: 1vh 0 1vh 0;
        font-size: 4.5vw;
        text-decoration: none;
    }
    
    nav {
        order: 2;
        width: 90vw;
        padding: 2% 0 2% 0;
        justify-items: space-around;
    }

    nav a {
        padding: 0%; 
        font-size: 5vw;
    }
    
    img {
        max-width: 100%;
        max-height: 100%;
        display: block;
        align-self: center;
    }
    
    footer {
        flex-direction: column;
        align-items: center;
        padding-bottom: 5vh;
    }

    main {
        max-width: 90vw;
    }

    /*--- comp thinking page ---*/

    .maintext {
        font-size: 0.8em;
        text-align: left;
    }

    p.ctpara {
        font-size: 0.8em;
        text-align: left;
    }
    
    #splash {
        display:block;
        height: auto;
    }

    blockquote {
        font-size: 1.2em;
        width: 100%;
        padding: 0%;
    }

    #ctgrid1 {
        display: block;
    }

    #ctgrid2 {
        display: block;
    }

    #ct1,#ct2,#ct3 {
        padding: 5vh 0 5vh 0;
    }

    #ctextra1,#ctextra2 {
        width: 100%;
    }

    /*--- biography page ---*/

    #bio4 {
        text-align: left;
        width: 80vw;
    }

    .extra {
        font-size: 0.9em;
        font-weight: 600;
        width: 90%;
        margin: auto;
        text-align: center;
        padding: 2vh 0 2vh 0;
    }
 
    .imgwrap {
        max-width: fit-content;
        margin-bottom: 2vh;
        border: 10px white solid
    }

    .biotext {
        display: block;
        font-size: 0.8em;
        text-align: left;
        padding-bottom: 2vh;
    }
  
    /*--- reflections page ---*/

    #pg3grid {
        display: block;
        width: 90vw;
    }

    [id^="cmtpara"] {
        display: block;
    }   
    
    #cmtpara1,#cmtpara3,#cmtpara5 {
        text-align: left;
        margin-left: 2vw;
        padding: 5vh 0 0 0;
    }

    #cmtpara2,#cmtpara4,#cmtpara6 {
        max-width: 80vw;
        margin: auto;
        text-align: center;
        background-color: white;
        color: rgb(87, 145, 253);
        font-size: 0.8em;
        font-family: 'Georgia','Times New Roman', serif;
        border-radius: 10px;
        padding: 2vh;
    }
  
    #cmtimg2 {
        padding: 5vh 0 1vh 0;
        width: 100%;
    }

    #cmtimg3 {
        display: block;
        margin: 5vh 0 1vh 0;
    }

    #cmtimg4 {
        display: none;
    }

    /*---references---*/
    
    .reftext {
        flex-direction: column;
        margin: auto;
    }

    .refcolumn {
        width: 90%;
    }
}